.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color:#00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 25px;
    border-radius: 100px;

}

@media (max-width: 600px) {
    .contador {
        min-width: 200px;
        height: 200px;
        font-size: 100px;
        padding: 15px;
        border-width: 5px;
        margin-bottom: 15px;
    }
}