.titulo{
    margin:20px 0 40px 0;
    font-family: Segoe UI, sans-serif;
    font-size: 30PX;
    color: 	#FAF9F6;
}

@media (max-width: 600px) {
    .titulo {
        font-size: 22px;
        margin: 15px 0 30px 0;
        text-align: center;
        padding: 0 10px;
    }
}

@media (max-width: 350px) {
    .titulo {
        font-size: 18px;
        margin: 10px 0 20px 0;
    }
}