* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #1e2a38;
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Segoe UI, sans-serif;
}


.contenedor-principal {
    height: 750px;
    min-width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width: 768px) {
    .contenedor-principal {
        height: auto;
        min-width: auto;
        width: 90%;
        padding: 10px;
    }
    }